@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Benne', serif;
}
:root{
    --var-color-one: rgb(255, 123, 0);
    --var-color-two: rgb(231, 112, 0); 
}
html{
    height: 2000px;
    scroll-behavior: smooth;
}
nav{
    background: #fff;
    height: 80px;
    width: 100%;
    box-shadow: 1px 10px 25px -9px rgba(92,92,92,0.75);
    font-family: 'Benne', serif;
}
label.logo a{
    color: var(--var-color-one);
    font-size: 45px;
    font-family: 'Benne', serif;
    line-height: 90px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #000;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: var(--var-color-one);
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #000;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
nav ul li.active a{
    border-bottom: 1px solid var(--var-color-one);
    color: var(--var-color-one);
}
#check{
    display: none;
}
#signin{
    font-weight: bold;
}
.wrapper{
    width: 100%;
    height: 550px;
    border: 1px solid #000;
}




.services{
    text-align: center;
    padding-top: 30px;
    margin: 0 0 0 3%;
}
.services h1{
    text-transform: uppercase;
    font-size: 50px;
    background-color: var(--var-color-one);
    display: inline;
    color: rgba(0, 0, 0, 0.925);
    padding: 10px 0;
}
.service h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 60px;
    color: #fff;
    margin: 0;
}
.single-service{
    position: relative;
    width: 31%;
    height: 320px;
    background-color: #ccc;
    box-sizing: border-box;
    padding: 0 15px;
    transition: .5s;
    overflow: hidden;
    float: left;
    margin: 0 10px 40px 10px;
    border-radius: 40px;
}
.line{
    width: 150px;
    height: 3px;
    background-color: #fff;
    margin: 0 auto 60px auto;
}
.single-service p{
    color: #000;
    font-size: 24px;
}
.single-service h3{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: #262626;
}
.social{
    width: 60px;
    height: 60px;
    background: #262626;
    border-radius: 50%;
    margin: 5% auto;
}
.social i{
    font-size: 25px;
    padding: 15px;
    color: #fff;
}
.single-service span{
    position: absolute;
    top: 0;
    left: -110%;
    width: 100%;
    height: 100%;
    background: #262626;
    transition: .7s;
    transform: skewX(10deg);
}
.single-service:hover span{
    left: 110%;
}
.pre{
    text-align: center;
    padding-top: 30px;
    margin: 0 0 0 20%;
    width: 60%;
}
.pre h1{
    text-transform: uppercase;
    font-size: 50px;
    background-color: var(--var-color-one);
    display: inline;
    color: rgba(0, 0, 0, 0.925);
    padding: 10px 0;
}
.pre p{
    margin-top: 50px;
    font-size: 18px;
}
.contact .row h1{
    text-transform: uppercase;
    font-size: 50px;
    color: var(--var-color-one);
    padding: 10px 0;
    text-align: center;
}
.contact p{
    font-size: 20px;
    text-align: center;
}
.contact p a{
    color: var(--var-color-one);
}
.contact input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: var(--var-color-one);
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}
.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}
.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}
.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}
input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #ccc;
    color: #000;
    border-radius: 4px;
}
input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}
textarea {
    width: 100%;
    min-height: 15em;
}
.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}
.submit-btn {
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: var(--var-color-one);
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}
input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
}
                                                  /*ABOUT*/
.about{
  text-align: center;
  padding-top: 30px;
  margin: 0 0 50px 20%;
  width: 60%;
}
.about h1{
  text-transform: uppercase;
  font-size: 50px;
  color: var(--var-color-one);
  padding: 10px 0;
  text-align: center;
}
.about p{
  margin-top: 30px;
  font-size: 18px;
}
                                                    /*FOOTER*/

footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #ccc;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: var(--var-color-one);
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: var(--var-color-one);
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form input{
  width: 100%;
  font-size: 1.0625rem;
  background: #999;
  padding-left: 10px;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: var(--var-color-one);
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: var(--var-color-two);
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
  margin-top: 70px;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: var(--var-color-one);
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
.rr{
    color: #151515;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}
@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}
@media (max-width: 952px){
    label.logo a{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #ccc;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .services h1{
        font-size: 30px;
    }
    .single-service{
        float: none;
        width: 100%;
        justify-content: center;
        text-align: center;
        margin: 0;
    }
    .pre h1{
        font-size: 30px;
    }
    .pre p{
        margin-top: 30px;
    }
    .top{
        display: none;
    }
}
